@model MetLife.Annuities.Web.ViewModels.ClientFinancialViewModel
@Html.Hidden("client-id",Model.ClientID)
<fieldset>
	<h2>Retirement and Financial Situation <em>( Required fields <span class="required-field">*</span> )</em></h2>
	<div class="subsection">
		<div class="column">
			<div class="field" id="field-client-age">
				<label class="label-primary"><strong>1.</strong> When are they planning to retire?</label>
				<input data-max-chars="2" autocomplete="off" data-allowed-chars="number" id="client-age" name="client-age" value="@Model.ClientFinance.RetirementAge" tabindex="1" type="text" />
				<label class="label-secondary" for="client-age">Age</label>
			</div>
		</div>
	</div>
</fieldset>
<fieldset>
	<div class="subsection">
		<div class="column">
			<div class="field" id="field-client-salary">
				<div class="row">
					<h3 class="label-primary"><strong>2.</strong> How much income do they have?</h3>
					<input data-max-chars="12" autocomplete="off" data-allowed-chars="currency"  id="client-salary" name="client-salary" tabindex="4" type="text" value="@(Model.Salary.HasValue?Model.Salary.Value.ToString("0.00"):"")" />
					<label class="label-secondary" for="client-salary">Salary</label>
				</div>
				<div class="row">
					<p class="label-description">Other Sources</p>
					<div class="row">
						<div class="column">
							<input data-max-chars="12" autocomplete="off" data-allowed-chars="currency" id="client-rentals" name="client-rentals" tabindex="5" type="text" value="@(Model.RentalsIncome.HasValue?Model.RentalsIncome.Value.ToString("0.00"):"")" />
							<label class="label-secondary" for="client-rentals">Rentals</label>
						</div>
						<div class="column">
							<input data-max-chars="12" autocomplete="off" data-allowed-chars="currency" id="client-social-security" name="client-social-security" tabindex="6" type="text" value="@(Model.SocialSecurityIncome.HasValue?Model.SocialSecurityIncome.Value.ToString("0.00"):"")" />
							<label class="label-secondary" for="client-social-security">Social Security</label>
						</div>
					</div>
					<div class="row">
						<div class="column">
							<input data-max-chars="12" autocomplete="off" data-allowed-chars="currency" class="clear" id="client-pensions" name="client-pensions" tabindex="7" type="text" value="@(Model.Pensionincome.HasValue?Model.Pensionincome.Value.ToString("0.00"):"")" />
							<label class="label-secondary" for="client-pensions">Pensions</label>
						</div>
						<div class="column">
							<input data-max-chars="12" autocomplete="off" data-allowed-chars="currency" id="client-other" name="client-other" tabindex="8" type="text" value="@(Model.OtherIncome.HasValue?Model.OtherIncome.Value.ToString("0.00"):"")" />
							<label class="label-secondary" for="client-other">Other</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="field" id="field-client-investments">
				<label class="label-primary"><strong>3.</strong> Do they have any retirement investments?</label>
				<div class="pretty-radios">					
                    @Html.RadioButton("client-investments","true",Model.ClientInvestments.Value,new{@class="more-details",id="client-investments-1",tabindex="13"})
					<label for="client-investments-1">Yes</label>					
                    @Html.RadioButton("client-investments","false",!Model.ClientInvestments.Value,new{@class="less-details",id="client-investments-2"})
					<label for="client-investments-2">No</label>
				</div>
				<div class="details">
					<p class="label-description">What Types?</p>
					<div class="row">
						<div class="column">
							<input data-max-chars="12" autocomplete="off" data-allowed-chars="currency" disabled="disabled" id="client-roth" name="client-roth" tabindex="14" type="text" value="@(Model.RothInvestment.HasValue?Model.RothInvestment.Value.ToString("0.00"):"")" />
							<label class="label-secondary" for="client-roth">Roth IRA(s)</label>
						</div>	
						<div class="column">
							<input data-max-chars="12" autocomplete="off" data-allowed-chars="currency" disabled="disabled" id="client-401k" name="client-401k" tabindex="15" type="text" value="@(Model.Investment401k.HasValue?Model.Investment401k.Value.ToString("0.00"):"")"  />
							<label class="label-secondary" for="client-401k">401K(s)</label>
						</div>
					</div>
					<div class="row">
						<div class="column">
							<input data-max-chars="12" autocomplete="off" data-allowed-chars="currency" disabled="disabled" id="client-trad-ira" name="client-trad-ira" tabindex="16" type="text" value="@(Model.TraditionalIRA.HasValue?Model.TraditionalIRA.Value.ToString("0.00"):"")"  />
							<label class="label-secondary" for="client-trad-ira">Trad. IRA(s)</label>
						</div>	
						<div class="column">
							<input data-max-chars="12" autocomplete="off" data-allowed-chars="currency" disabled="disabled" id="client-403b" name="client-403b" tabindex="17" type="text" value="@(Model.Investment403B.HasValue?Model.Investment403B.Value.ToString("0.00"):"")" />
							<label class="label-secondary" for="client-403b">403B(s)</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</fieldset>
<fieldset>
	<div class="subsection">
		<div class="column">
			<div class="field error-container" id="field-client-investment">
				<label class="label-primary" for="client-investment"><strong>4.</strong> How much do they plan to invest? <span class="required-field">*</span></label>
				<input data-max-chars="12" autocomplete="off" data-allowed-chars="currency" class="required" id="client-investment" name="client-investment" tabindex="18" type="text" value="@(Model.InitialInvestment.HasValue?Model.InitialInvestment.Value.ToString("0.00"):"")" />
				<div class="error-msg">A planned investment is required for every client profile.</div>
			</div>
		</div>
		<div class="column">
			<div class="field" id="field-client-goals">
				<label class="label-primary" for="client-goals"><strong>5.</strong> What are their retirement goals?</label>
				@{ int count = 0; }
				@if (Model.Goals.Count == 0)
				{
					<textarea data-max-chars="120" data-allowed-chars="comment" data-clone-name="client-goals[*]" id="client-goals-0" name="client-goals[0]" tabindex="19"></textarea>
				}
				else
				{
					foreach (var item in Model.Goals)
					{
						if (count == 0)
						{
							<textarea data-max-chars="120" autocomplete="off" data-allowed-chars="comment" data-clone-name="client-goals[*]" id="client-goals-0" name="client-goals[0]" tabindex="19">@item</textarea>
						}
						else
						{
							<div class="clone">
								<textarea data-max-chars="120" autocomplete="off" data-allowed-chars="comment" data-clone-name="client-goals[*]" id="client-goals-@(count)" name="client-goals[@(count)]" tabindex="@(count + 19)">@item</textarea>
							</div>
						}
						count = count + 1;
					}
				}

				@{ int goalsCloneMax = 2; }
				@if (count < goalsCloneMax + 1)
				{
					<p class="add-field" data-clone-fields="#client-goals-0" data-clone-max="@goalsCloneMax">Add another goal</p>
				}
			</div>
		</div>
	</div>
</fieldset>
<fieldset>
	<div class="subsection">
		<div class="field" id="field-client-risk">
			<label class="label-primary"><strong>6.</strong> Which best describes their risk tolerance?</label>
			<ul id="client-risk-levels">
				<li class="first">Conservative</li>
				<li>Moderate</li>
				<li class="last">Aggressive</li>
			</ul>
			<div class="radio-slider" id="client-risk-options" tabindex="24">
				<div class="radios">
                @for (int i = 1; i <= 5; i++)
                {
                    @Html.RadioButton("client-risk", i, Model.RiskLevel == i)
                }
				</div>                                
			</div>
		</div>
	</div>
</fieldset>
<fieldset>
	<div class="subsection">
		<div class="field" id="field-client-benefits">
			<label class="label-primary"><strong>7.</strong> Select <strong>up to three</strong> main benefits they are interested in.</label>
			<div class="pretty-checkboxes" data-max-select="3">
            @{int elementIndex=0;
              var totalItemsPerColumn = Math.Ceiling((decimal)Model.Benefits.Length / (decimal)2);
                for (int i = 0; i < 2; i++)
            {   
                    <div class="column">
                        @for (int n = 0; n < totalItemsPerColumn && elementIndex < Model.Benefits.Length; n++)
			{
                    <input id="client-benefits-@Model.Benefits[elementIndex].Id" name="client-benefits" tabindex="25" type="checkbox" value="@Model.Benefits[elementIndex].Id" @(Model.ClientBenefits.Contains(@Model.Benefits[elementIndex].Id) ? "checked=\"checked\"" : "") />
					<label for="client-benefits-@Model.Benefits[elementIndex].Id">@Model.Benefits[elementIndex].BenefitName</label>
                elementIndex++;
            }       
                    </div>
            }
            }
@*	            <div class="column">
					<input id="client-benefits-1" name="client-benefits" tabindex="25" type="checkbox" value="1" @(Model.ClientBenefits.Contains(1) ? "checked=\"checked\"" : "") />
					<label for="client-benefits-1">Guaranteed Income for Life</label>
					<input id="client-benefits-2" name="client-benefits" tabindex="26" type="checkbox" value="2" @(Model.ClientBenefits.Contains(2) ? "checked=\"checked\"" : "") />
					<label for="client-benefits-2">Guaranteed Income for a period of time</label>
					<input id="client-benefits-3" name="client-benefits" tabindex="27" type="checkbox" value="3" @(Model.ClientBenefits.Contains(3) ? "checked=\"checked\"" : "") />
					<label for="client-benefits-3">Legacy Options for spouse or family</label>
				</div>
				<div class="column">
					<input id="client-benefits-4" name="client-benefits" tabindex="28" type="checkbox" value="4" @(Model.ClientBenefits.Contains(4) ? "checked=\"checked\"" : "") />
					<label for="client-benefits-4">Protection while accumulating</label>
					<input id="client-benefits-5" name="client-benefits" tabindex="29" type="checkbox" value="5" @(Model.ClientBenefits.Contains(5) ? "checked=\"checked\"" : "") />
					<label for="client-benefits-5">Participation in upside performance</label>
					<input id="client-benefits-6" name="client-benefits" tabindex="30" type="checkbox" value="6" @(Model.ClientBenefits.Contains(6) ? "checked=\"checked\"" : "")/>
					<label for="client-benefits-6">Tax deferral</label>
				</div>*@
			</div>
		</div>
	</div>
</fieldset>
<fieldset>
	<div class="form-buttons">
		<a id="back-button" href="/advisors/addclient/basic?client_id=@Model.ClientID" class="form-back" tabindex="35"><i></i>Back</a>
		<button class="form-save button-cta" tabindex="33" type="submit"><i></i>Save</button>
		<button class="form-cancel" tabindex="34" type="reset"><i></i>Cancel</button>
	</div>
</fieldset>
