@model MetLife.Annuities.Web.Areas.Clients.Models.ResourcesIndexViewModel
<link href="//vjs.zencdn.net/c/video-js.css" rel="stylesheet">
<div class="section active hidden" id="section-resources-videos">
    <div id="resources-video">
        <a href="#" class="play-button"  data-video-id="2563969349001"  id="2563969349001"></a>
    </div>
    <form id="filter-videos" autocomplete="off" >
		<select class="custom-select" name="videos">
			<option selected="selected">All</option>
            @foreach (var category in Model.Videos.Categories)
            {
                <option>@category.Name</option>
            }
		</select>
		<div class="filter-search-wrapper">
			<input class="filter-search" type="text" autocomplete="off" placeholder="Search here" />
			<button class="filter-submit" type="submit" >
			Search</button>
		</div>
    </form>

    <div class="carousel-wrapper">
		<ul class="carousel-list video-thumb-carousel">			
			<li class="carousel-item">
                <ul class="video-thumbs">
                    @foreach (var video in Model.Videos.Videos)
                    {
                    <li class="filter-category filter-item" data-filter-category="@video.category.name" data-filter-item="@video.title">
						<div class="thumb-wrap">
							<a href="#" class="thumb-play-button play-button" data-video-id="@video.uri" id="@video.uri"><img src="@video.thumbnail_uri" class="thumb" alt="" /><img src="../public/images/icon-play-button.png" class="play" alt="" /><span class="title">@video.title</span></a></div>
					</li>                        
                    }			
                </ul>
            </li>
		</ul>
	</div>
</div>
